table(id="#{tablename}", class="pure-table #{css_classes}")
    thead
        tr
            each var headingelem in #{headinglist}
            th #headingelem
    tbody
        block #{tablename}_content