{% macro includecss(href, chksum) %}
    <link rel="stylesheet", href="{{ href }}" {{ integrity="{{ chksum }}" if len(chksum) > 0 }} crossorigin=anonymous />
{% endmacro %}

{% macro includecss_multi(hrefs, chksums) %}
    {% for href in hrefs %}
        {{ includecss(href) }}
    {% endfor %}
{% endmacro %}


{% macro include(href, modules) %}
    {% for module in modules %}
        {% if module[len(module)-5:] is '.css' %}
        <link href="{{ href }}/{{ module }}" rel="stylesheet" crossorigin="anonymous">
        {% elif module[len(module)-4] is '.js' %}
        <script src="{{ href }}/{{ module }}" crossorigin="anonymous"></script>
        {% endif %}
    {% endfor %}
{% endmacro %}


